@import url('https://fonts.googleapis.com/css2?family=Grape+Nuts&family=Space+Grotesk:wght@300..700&display=swap');

@import "tailwindcss";
@import "./tokens/colors.css";
@import "./tokens/radius.css";
@import "./tokens/spacing.css";
@import "./tokens/typography.css";
@import "./utilities.css";

/* CSS par composant */
@import "./components/button.css";
@import "./components/input.css";
@import "./components/steps.css";

